        .contenedor::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        
        .contenedor::-webkit-scrollbar:vertical {
            width: 9px;
        }
        
        .contenedor::-webkit-scrollbar-button:increment,
        .contenedor::-webkit-scrollbar-button {
            display: none;
        }
        
        .contenedor::-webkit-scrollbar:horizontal {
            height: 10px;
        }
        
        .contenedor::-webkit-scrollbar-thumb {
            background-color: #797979;
            border-radius: 20px;
            border: 2px solid #f1f2f3;
        }
        
        .contenedor::-webkit-scrollbar-track {
            border-radius: 10px;
        }
        
        .screen-reader-text {
            background-color: grey;
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
        
        .screen-reader-text:hover {
            background-color: #d83343;
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
        
        .menu {
            box-shadow: 1px 7px 15px #a2a2a2;
        }
        
        .car {
            vertical-align: top;
            background: white;
            color: black;
            border-radius: 50%;
            font-size: calc(0.35em + 0.35vmax)
        }
        
        .menuPerfil {
            width: 2.5em;
            height: 2.5em;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            object-fit: contain;
        }
        
        .carrusel {
            object-fit: cover;
            height: 25vw;
            width: 100%;
        }
        
        .contentCarrusel {
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        
        .imageninicio {
            width: 100%;
            max-width: 360px;
            height: 50vh;
            max-height: 360px;
            position: relative;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        }
        
        .banderainicio {
            width: 22px;
            height: 22px;
            max-width: 22px;
            max-height: 22px;
            min-width: 22px;
            min-height: 22px;
        }
        
        .imgcarritoinicio {
            width: 50vh;
            max-width: 140px;
            height: 50vh;
            max-height: 140px;
            position: relative;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        }
        
        .imgmodalinicio {
            width: 100%;
            max-width: 360px;
            height: 50vh;
            max-height: 360px;
            position: relative;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        }
        
        .cardAdmin {
            margin: -25px -25px 0px -25px;
            background: linear-gradient(-90deg, #000000, #f80000);
        }
        
        .imgPerfil {
            width: 50vh;
            max-width: 170px;
            height: 50vh;
            max-height: 170px;
            position: relative;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        }
        
        .inputFile {
            visibility: hidden;
            position: absolute;
            display: none;
        }
        
        .cardDom {
            margin: -25px -25px 0px -25px;
            background: linear-gradient(-90deg, #000000, #f80000);
        }
        
        .centerdiv {
            margin: 0 auto;
        }
        
        .cardCl {
            margin: -25px -25px 0px -25px;
            background: linear-gradient(-90deg, #000000, #f80000);
        }
        
        .compra {
            overflow: auto;
            display: inline-block;
        }
        
        .imgcompra {
            width: 50vh;
            max-width: 110px;
            height: 50vh;
            max-height: 120px;
            position: relative;
            overflow: hidden;
            border-radius: 8px;
            z-index: 1;
        }
        
        .cantidadp {
            font-size: calc(0.45em + 0.45vw);
            line-height: 20px;
            white-space: nowrap;
            text-align: center;
            border-radius: 50%;
            background-color: red;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            min-width: 20px;
            height: 20px;
            padding: 0 0.5833333333em;
            position: absolute;
            right: -0.5em;
            top: -0.75em;
            z-index: 3;
        }
        
        @keyframes anim1 {
            0% {
                background-color: yellowgreen;
            }
            25% {
                background-color: purple;
            }
            50% {
                background-color: orange;
            }
            75% {
                background-color: red;
            }
            100% {
                background-color: green;
            }
        }
        
        .cantidadp {
            animation-name: anim1;
            animation-duration: 8s;
            animation-iteration-count: infinite;
        }
        
        .carousel-indicators li {
            height: 20px;
            width: 20px;
            border-radius: 50%;
        }
        
        .al {
            display: block;
            margin: 10px;
            width: 150px;
            height: 150px;
            font-size: 40px
        }
        
        .d1 img {
            object-fit: cover;
            height: 25vw;
            width: 100%;
        }
        
        .d2 {
            display: flex;
            padding: 10px;
        }
        
        .d2 img {
            object-fit: cover;
            height: 7vw;
            width: 95%;
        }
        
        #example-table_wrapper div,
        a {
            color: #fff;
        }
        
        #example-table_wrapper select {
            background-color: white;
        }
        
        #example-table_filter input {
            background-color: white;
        }
        
        #example-table_length option {
            color: #000;
        }
        
        #example-table_paginate a {
            color: #fff;
        }
        
        .dataTables_paginate a {
            background-color: whitesmoke;
        }
        
        .dataTables_paginate a.current {
            color: #fff !important;
            border: 1px solid #000!important;
            background-color: gray!important;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, gray), color-stop(100%, #fff))!important;
            background: -webkit-linear-gradient(top, gray 0%, #fff 100%)!important;
            background: -moz-linear-gradient(top, gray 0%, #fff 100%)!important;
            background: -ms-linear-gradient(top, gray 0%, #fff 100%)!important;
            background: -o-linear-gradient(top, gray 0%, #fff 100%)!important;
        }
        
        .dataTables_wrapper .dataTables_paginate .paginate_button {
            color: #fff !important;
        }
        
        .choices__list--multiple .choices__item {
            background-color: #f80000!important;
        }
        
        .choices__list--dropdown,
        .choices__list--dropdown .choices__item--selectable.is-highlighted {
            background-color: #f80000!important;
        }
        
        .fileUpload {
            position: relative;
            overflow: hidden;
        }
        
        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
        
        .product-grid {
            background-color: #fff;
            text-align: center;
        }
        
        .product-grid .product-image {
            position: relative;
        }
        
        .product-grid .product-image a.image {
            display: block;
        }
        
        @media only screen and (min-width: 2001px) {
            .product-grid .product-image img {
                width: 100%;
                height: 50vw;
                max-height: 15vmax;
                object-fit: contain;
            }
        }
        
        @media only screen and (max-width: 2000px) {
            .product-grid .product-image img {
                width: 100%;
                height: 50vw;
                max-height: 15vmax;
                object-fit: contain;
            }
        }
        
        @media only screen and (max-width: 600px) {
            .product-grid .product-image img {
                width: 100%;
                height: 60vw;
                max-height: 70vmax;
                object-fit: contain;
            }
        }
        
        @media only screen and (max-width: 450px) {
            .product-grid .product-image img {
                width: 100%;
                height: 80vw;
                max-height: 70vmax;
                object-fit: contain;
            }
        }
        
        @media only screen and (max-width: 350px) {
            .product-grid .product-image img {
                width: 100%;
                height: 100vw;
                max-height: 70vmax;
                object-fit: contain;
            }
        }
        
        .product-grid:hover .product-image .pic-1 {
            opacity: 0;
            transition: all 0.5s ease 0s;
        }
        
        .product-image .pic-2 {
            width: 100%;
            height: 100%;
            filter: blur(10px);
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.5s ease 0s;
        }
        
        .product-grid:hover .product-image .pic-2 {
            filter: blur(0);
            opacity: 1;
        }
        
        .product-grid .product-like-icon {
            color: #f80000;
            font-size: 16px;
            position: absolute;
            right: 13px;
            top: 10px;
            transition: all 0.3s ease 0s;
        }
        
        .product-grid .product-links {
            width: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            opacity: 0;
            transform: translateX(-50%) scale(0);
            position: absolute;
            top: calc(100% + 10px);
            left: 50%;
            z-index: 1;
            transition: all 0.3s ease;
        }
        
        .product-grid:hover .product-links {
            opacity: 1;
            transform: translateX(-50%) scale(1);
        }
        
        .product-grid .product-links li {
            display: inline-block;
        }
        
        .product-grid .product-links li a {
            color: #fff;
            background: #333;
            font-size: 16px;
            line-height: 38px;
            width: 40px;
            height: 40px;
            display: block;
            transition: all 0.3s ease 0s;
        }
        
        .product-grid .product-links li a:hover {
            color: #fff;
            background: #00CCFF;
        }
        
        .product-grid .product-content {
            background-color: #fff;
            padding: 10px 10px 10px;
            position: relative;
            z-index: 1;
            transition: all 0.3s ease 0s;
        }
        
        .product-grid:hover .product-content {
            transform: translateY(47px);
        }
        
        .product-grid .title {
            font-size: 16px;
            font-weight: 700;
            text-transform: capitalize;
            margin: 0 0 7px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: black;
        }
        
        .product-grid .title a {
            color: #222;
            transition: all 0.3s ease 0s;
        }
        
        .product-grid .title a:hover {
            color: #f80000;
        }
        
        .product-grid .price {
            color: #333;
            font-size: 16px;
            font-weight: 600;
        }
        
        @media screen and (max-width:990px) {
            .product-grid {
                margin: 0 0 30px;
            }
        }
        
        @keyframes anim {
            0% {
                background-color: #000;
            }
            25% {
                background-color: gray;
            }
            50% {
                background-color: #00CCFF;
            }
            75% {
                background-color: red;
            }
            100% {
                background-color: green;
            }
        }
        
        .product-links a {
            animation-name: anim;
            animation-duration: 8s;
            animation-iteration-count: infinite;
        }
        
        .chart {
            width: 100%;
            min-height: 550px;
        }
        
        .nav-tabs>li {
            background-color: #000;
        }
        
        .nav-tabs>li>a {
            border: medium none;
            color: #000;
        }
        
        .nav-tabs>li>a:hover {
            color: #fff;
            filter: brightness(0.7);
        }
        
        .nav-tabs>li>.active {
            background-color: #f80000 !important;
            border: medium none;
            border-radius: 0;
            color: #fff;
        }
        
        .form-control:focus {
            border-color: #F80000;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
        }
        
        .form-control {
            border-color: gray;
        }
        
        .dropdown-item:hover {
            background-color: #f80000 !important;
        }